<div class="flex flex-col items-center justify-center h-screen bg-black">
    <h1 class="text-6xl font-medium text-orange-300">Counter</h1>
    <span class="m-5 text-orange-100 text-8xl">
      <%= @number %>
    </span>
    <section>
      <button phx-click="sub" class="text-orange-100 text-2xl bg-red-900 px-4 py-2 rounded hover:bg-red-700">↓</button>
      <button phx-click="reset" class="text-orange-300 text-2xl bg-red-900 mx-3 p-2 rounded hover:bg-red-700">reset</button>
      <button phx-click="add" class="text-orange-100 text-2xl bg-red-900 px-4 py-2 rounded hover:bg-red-700">↑</button>
    </section>
  </div>
  

